{% extends 'base.html' %}
{% load static %}

{% block title %}
    小鲜果儿的博客屋~
{% endblock %}


{% block nav_blog_active %}
    active
{% endblock %}


{% block head_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog_list.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% block blog_list_title %}
                                博客列表（共有{{ paginator.count }}篇文章）
                            {% endblock %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% for blog in blogs_current_page %}
                            <div class="blog">
                                <h3><a href="{% url 'blog_detail' blog_pk=blog.pk %}">{{ blog.title }}</a></h3>
                                <p class="blog-info">
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                    <a href="{% url 'blogs_with_type' blog_type_pk=blog.blog_type.pk %}">{{ blog.blog_type }}</a>
                                    &nbsp;
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    {{ blog.created_time|date:'Y-m-d' }}
                                   page_range &nbsp;
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    {{ blog.get_read_num }}
                                </p>

                                <p>{{ blog.content|striptags|truncatechars:30 }}</p>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>-- 暂无博客，敬请期待 --</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="paginator" aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            {% if page_of_blogs.has_previous %}
                                <a href="{% url 'blog_list' %}?page={{ page_of_blogs.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blogs.number %}
                                <li class="active"><span>{{ page_num }}</span></li>
                            {% elif page_num == '...' %}
                                <li><span>{{ page_num }}</span></li>
                            {% else %}
                                <li><a href="{% url 'blog_list' %}?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li>
                            {% if page_of_blogs.has_next %}
                                <a href="{% url 'blog_list' %}?page={{ page_of_blogs.next_page_number }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">博客分类</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href="{% url 'blogs_with_type' blog_type_pk=blog_type.pk %}">
                                        {{ blog_type.type_name }}({{ blog_type.blog_set.count }})</a>
                                </li>
                            {% empty %}
                                <li>--暂无分类--</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">日期归档</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="blog-dates">
                            {% for blog_date,blog_date_count in blog_date_dict.items %}
                                <li>
                                    <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                                        {{ blog_date|date:'Y年m月' }}({{ blog_date_count }})</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}