<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src='__PUBLIC__/jquery-3.0.0.min.js'></script>
</head>
<body>
<div id="list">
    <ul></ul>
</div>
<div id="pagecount"></div>
</body>
</html>
<script>
    var curPage = 1; //当前页码
    var total, pageSize, totalPage; //总记录数，每页显示数，总页数
    //获取数据
    function getData(page) {
        $.ajax({
            type: 'POST',
            url: "{:U('Index/ajaxs')}",
            data: {'pageNum': page - 1},
            dataType: 'json',
            beforeSend: function () {
                $("#list ul").append("<li id='loading'>loading...</li>");//显示加载动画
            },
            success: function (json) {
                $("#list ul").empty();//清空数据区
                total = json.total; //总记录数
                pageSize = json.pageSize; //每页显示条数
                curPage = page; //当前页
                totalPage = json.totalPage; //总页数
                var li = "";
                var list = json.list;
                $.each(list, function (index, array) { //遍历json数据列
                    li += "<li><a href='#'>" + array['id'] + "</a></li>";
                });
                $("#list ul").append(li);
            },
            complete: function () { //生成分页条
                getPageBar();
                fun();
            },
            error: function () {
                alert("数据加载失败");
            }
        });
    }

    //获取分页条
    function getPageBar() {
        //页码大于最大页数
        if (curPage > totalPage) curPage = totalPage;
        //页码小于1
        if (curPage < 1) curPage = 1;
        pageStr = "<span>共" + total + "条</span><span>" + curPage
            + "/" + totalPage + "</span>";

        //如果是第一页
        if (curPage == 1) {
            pageStr += "<span>首页</span><span>上一页</span>";
        } else {
            pageStr += "<span><a href='javascript:void(0)' rel='1'>首页</a></span><span><a href='javascript:void(0)' rel='" + (curPage - 1) + "'>上一页</a></span>";
        }

        //如果是最后页
        if (curPage >= totalPage) {
            pageStr += "<span>下一页</span><span>尾页</span>";
        } else {
            pageStr += "<span><a href='javascript:void(0)' rel='" + (parseInt(curPage) + 1) + "'> 下一页</a></span><span><a href='javascript:void(0)' rel='" + totalPage + "'>尾页</a></span>";
        }
        $("#pagecount").html(pageStr);
    }

    $(function () {
        getData(1);
    });

    function fun() {
        $("#pagecount span a").on('click', function () {
            var rel = $(this).attr("rel");
            alert(rel)
            if (rel) {
                getData(rel);
            }
        });
    }
</script>